<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ouyang.mapper.UploadImageInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ouyang.model.UploadImageInfo" >
    <!--          -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="user_info_id" property="userInfoId" jdbcType="VARCHAR" />
    <result column="result" property="userInfoId" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--          -->
    id, url, create_date, user_info_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--          -->
    select 
    <include refid="Base_Column_List" />
    from upload_image_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--          -->
    delete from upload_image_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ouyang.model.UploadImageInfo" >
    <!--          -->
    insert into upload_image_info (id, url, create_date, 
      user_info_id)
    values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{userInfoId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ouyang.model.UploadImageInfo" >
    <!--          -->
    insert into upload_image_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="userInfoId != null" >
        user_info_id,
      </if>
      <if test="result != null">
        result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userInfoId != null" >
        #{userInfoId,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ouyang.model.UploadImageInfo" >
    <!--          -->
    update upload_image_info
    <set >
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userInfoId != null" >
        user_info_id = #{userInfoId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ouyang.model.UploadImageInfo" >
    <!--          -->
    update upload_image_info
    set url = #{url,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      user_info_id = #{userInfoId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>